
var hosts = [

	{ name: 'rig1a', address: 'localhost', port: 4086 }, 
	{ name: 'rig1b', address: '127.0.0.1', port: 4087 }, 
	{ name: 'rig2, address: '10.236.6.200', port: 4087 }

];

module.exports = hosts;

